

body{
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    line-height: 1.4;
    color: black;height:100vh;
    background-color: white;
    background-image: linear-gradient(to bottom right, rgba(255,255,255,0) , #ffffff);
    overflow: hidden;
    transition: background-color 0.5s;
}


section{
    position : fixed;
    top: 50%;
    left:50%;
    /* To Make sure it's centered */
    transform : translate(-50%, -60%);
    width : 80%;
    text-align: center ;
}


h1{
    font-size: calc(1.5em + 1vw);
}

/* Section h2 changes size depending on the length of the text */

h2{
    font-size: calc(2em + 1vw);
}

/* Long texts*/

h2.long{
    font-size: calc(1.5em + 0.5vw);;
}

/* short texts*/

h2.short{
    font-size: calc(3em + 1vw);;
}



a{
  color:#383838	;
}

a:hover{
  filter: blur(2px);
}



.pagenum{
    position : fixed;
    top: 0;
    right: 0;
    padding-top: 30px;
    padding-right: 30px;
    font-size: 4vmin;
    opacity: 0.8 !important;
}

footer{
    position : fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;
    cursor: pointer;
}

footer img{
    margin:0 30px 0 30px;
    height: 6vmin;  
    opacity: 0.5; 
}

.next:hover{
    opacity: 0.8; 
    filter: blur(2px);
}

.prev:hover{
    opacity: 0.8; 
    filter: blur(2px);
}

.random:hover{
    opacity: 0.8; 
    filter: blur(2px);
}



section div.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 50%;
    transition: background-color 0.5s;
}

/* Border around the body tag */
#top, #bottom, #left, #right {
    background:transparent;
    position: fixed;
    transition: background-color 0.4s;

	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }



@keyframes fadeIn {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.2s;

    /*Image in body layer doesn't work*/
    /* By setting it forward it sets opacity 0 here as a starting point */
    animation-fill-mode: forwards;
}