

body{/* font-family: "Bluu Next"; Times New Roman;*/font-family: 'Crimson Pro', serif;font-size: 24px;line-height: 1.4;color: black;height:100vh;background-color: white;background-image: linear-gradient(to bottom right, rgba(255,255,255,0) , #ffffff);overflow: hidden;

/* Change background animation here*/transition: background-color 0.5s;}


h1{
    font-size: 4vmin;
}


h2{
    font-size: 7vmin;
    text-indent : -0.5em;
}

h2.long{
    font-size: 5vmin;
}

a{
  color:#383838	;
}

a:hover{
  filter: blur(2px);
}


section{
    position : fixed;
    top: 50%;
    left:50%;
    /* To Make sure it's centered */
    transform : translate(-50%, -60%);
    width : 75%;
    text-align: center ;
}


section div.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.pagenum{
    position : fixed;
    top: 0;
    right: 0;
    padding-top: 30px;
    padding-right: 30px;
    font-size: 4vmin;
    opacity: 0.8 !important;
}

footer{
    position : fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;
    cursor: pointer;
}

footer img{
    margin:0 30px 0 30px;
    height: 6vmin;  
    opacity: 0.5; 
}

.next:hover{
    opacity: 0.8; 
    filter: blur(2px);
}

.prev:hover{
    opacity: 0.8; 
    filter: blur(2px);
}

.random:hover{
    opacity: 0.8; 
    filter: blur(2px);
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.2s;

    /*Image in body layer doesn't work*/
    /* By setting it forward it sets opacity 0 here as a starting point */
    animation-fill-mode: forwards;
}